h1{
    color: blue;
    text-align: center;
    background-color: black;
}

#fondo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    width: 100vw;
    height: 100vh;
}